<% if logged_in? %>
<% @user ||= current_user %>
  <div class="row" >
    <aside class="col-md-8">
        <div id="homeBanner" >
      <%= image_tag("WKbaseball_mods_blue_noapostrophe_banner.png", :alt => "Wisco Kids") %>
    </div>
    <section>
      <h1>
        <%= @user.name %><br /><br />
        <%= user_icon_for @user %>
      </h1>
    </section>
    
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <br /><br />

    <div id="gameDiv" >
  <%= render 'shared/team' %>
  </div>
    </aside>

    <div class="col-md-4 postColumn postScrollFrame">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
         <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
    </div>
</div>
  
<% else %>
  <div class="center jumbotron">
    <%= image_tag("WKbaseball_mods_blue_noapostrophe.png", :alt => "Wisco Kids") %>

    <h2>
      This is the home page for the Wisco Kids Softball Slaughterers
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>