<% if logged_in? %>
<% @user ||= current_user %>
  <div class="row" >
    <aside class="col-md-8">
    
    <section>
      <div>
        <div>
          <h1>
            <%= @user.name %><br /><br />
            <%= user_icon_for @user %>
          </h1>
             <section class="stats">
             <%= render 'shared/stats' %>
             </section>
        </div>
        <div  id="homeBanner"> <!-- id="homeBanner"-->
            <%= image_tag("WKbaseball_mods_blue_noapostrophe_banner.png", :alt => "Wisco Kids") %>
        </div>
      </div>
    </section>

    <div id="gameDiv" >
      <% @game = Game.where("date >= ?", Date.today).where(:forteam => @user.team).order("date ASC").limit(1).take %>
      <% if @user.admin? %>
        <%= render 'shared/alternates' %>
      <% elsif !@game.nil? %>
        <%= render 'shared/team' %>
      <% elsif @user.team == "3" %>
        <%= render 'shared/alternates' %>

      <% else %>
        <p style="font-size: 18pt">No Games Found</p>
      <% end %>
    </div>
    </aside>

    <div class="col-md-4 postColumn postScrollFrame">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div><br />
    <section class="micropost_form postForm">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
</div>
  
<% else %>
  <div class="center jumbotron">
    <%= image_tag("WKbaseball_mods_blue_noapostrophe.png", :alt => "Wisco Kids") %>

    <h2>
      This is the home page for the Wisco Kids Softball Slaughterers
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>