<% if logged_in? %>
  <div class="row">
    <aside class="col-md-8">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    <div id="gamesContainer">
  <%= render 'shared/team' %>
  </div>
    </aside>

    <div class="col-md-4 postColumn postScrollFrame">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
         <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <h1>Wisco Kids</h1>

    <h2>
      This is the home page for the Wisco Kids Softball Slaughterers
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>