<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8">
    
    <section>
      <div>
        <div>
          <h1>
            <%= @user.name %><br /><br />
            <%= user_icon_for @user %>
          </h1>
             <section class="stats">
             <%= render 'shared/stats' %>
             </section>
        </div>
        <div  id="homeBanner"> <!-- id="homeBanner"-->
            <%= image_tag("WKbaseball_mods_blue_noapostrophe_banner.png", :alt => "Wisco Kids") %>
        </div>
      </div>
    </section>
    

    <section>
    <div id="gameCurrentUserContainer">
<% if !@game.nil? %>
    <p>Next Game:   
    <%= @game.date.strftime("%a, %d %b %Y") %> <%= @game.time.strftime("%I:%M %p") %>
    </p>
    <p><%= @game.comments %>
    </p>
  
    <br />
    <p style="font-size: 14pt;">I am: 
 
      <% if @attendence.nil? %>
        <%= "Not Checked In" %>
      <% else %>
        <%= @attendence.attendance_type %>
      <% end %>
  
    </p>
    <table class="attendanceSelection">
    <tr>
    <td><%= link_to 'Going',  attend_path(user: @user, game_id: @game.id, attendance_type: 'Going'), method: :post, class: "btn btn-success attendence_button" %></td>
    <td><%= link_to 'Maybe',  attend_path(user: @user, game_id: @game.id, attendance_type: 'Maybe'), method: :post, class: "btn btn-warning attendence_button" %></td>
    <td><%= link_to 'Not Going',  attend_path(user: @user, game_id: @game.id, attendance_type: 'Not Going'), method: :post, class: "btn btn-danger attendence_button" %></td></tr>
    </table>
    </div>
<% else %>
  No Games Found
<% end %>

    <br /><br />
    <div id="beers-container">
    <p>Beer Logging</p>
      <%= link_to 'Add Beer Consumed',  beer_path(user: @user), method: :post, class: "btn btn-success" %>
    </div>
    </section>
  </aside>
  <div class="col-md-4  postColumn postScrollFrame">
    <%= render 'follow_form' if logged_in? %>
    <% if Micropost.all.any? %>
      <h3>Wisco Kids Posts (<%= Micropost.all.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      
    <% end %>
  </div>
</div>