<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8">
    
    <section>
      <div>
        <div>
          <h1>
            <%= @user.name %><br /><br />
            <%= user_icon_for @user %>
          </h1>
          <h4>
            <% if @user.player_type == "Roster" %>
              Roster Spot Player on the 
              <% if @user.team == "1" %>
                Yellow Team
              <% elsif @user.team == "2"%>
                Green Team
              <% else %>
                Alternates Team
              <% end %>
            <% else %>
              Alternate Player
            <% end %>

          </h4>
             <section class="stats">
             <%= render 'shared/stats' %>
             </section>
        </div>
        <div  id="homeBanner"> <!-- id="homeBanner"-->
            <%= image_tag("WKbaseball_mods_blue_noapostrophe_banner.png", :alt => "Wisco Kids") %>
        </div>
      </div>
    </section>
    

    <section>
    <div id="gameCurrentUserContainer">


      
        <% if !@gameYellow.nil? %>
          <p style="font-size: 18pt">Next Yellow Team Game:   
            <%= @gameYellow.date.strftime("%a, %d %b %Y") %> <%= @gameYellow.time.strftime("%I:%M %p") %>
          </p>
          <p style="font-size: 18pt"> <%= @gameYellow.comments %></p>
          <br />
          <p style="font-size: 20pt;">I am: 
       
            <% if @game_yellow_user_attend.nil? %>
              <%= "Not Checked In" %>
            <% else %>
              <%= @game_yellow_user_attend.attendance_type %>
            <% end %>
        
          </p>
        <% else %>
            <p style="font-size: 18pt"> No Yellow Team Games Found</p>
       
        <% end %>

        <% if @alternatesWindow  || @user.team == "1" || @user.team == "2" %>
          <table class="attendanceSelection">
            <tr>
              <% if !@gameFullYellow %>
              <td><%= link_to 'Going',  attend_path(user: @user, game_id: @gameYellow.id, attendance_type: 'Going'), method: :post, class: "btn btn-success attendence_button" %></td>
              <% else %>
                <td>Game Roster Currently Full</td>
              <% end %>
              <td><%= link_to 'Maybe',  attend_path(user: @user, game_id: @gameYellow.id, attendance_type: 'Maybe'), method: :post, class: "btn btn-warning attendence_button" %></td>
              <td><%= link_to 'Not Going',  attend_path(user: @user, game_id: @gameYellow.id, attendance_type: 'Not Going'), method: :post, class: "btn btn-danger attendence_button" %></td>
            </tr>
          </table>

        <% else %>
          <% if !@alternatesDate.nil? %>
            <p style="font-size: 18pt"> I can Reserve a spot starting: 
            <%= @alternatesDate.strftime("%a, %d %b %Y") %>
            </p>
          <% end %>

        <% end %>

        <br /><br /><br />


          <% if !@gameGreen.nil? %>
          <p style="font-size: 18pt">Next Green Team Game:   
            <%= @gameGreen.date.strftime("%a, %d %b %Y") %> <%= @gameGreen.time.strftime("%I:%M %p") %>
          </p>
          <p style="font-size: 18pt"> <%= @gameGreen.comments %></p>
          <br />
          <p style="font-size: 20pt;">I am: 
       
            <% if @game_green_user_attend.nil? %>
              <%= "Not Checked In" %>
            <% else %>
              <%= @game_green_user_attend.attendance_type %>
            <% end %>
        
          </p>
        <% else %>
            <p style="font-size: 18pt"> No Green Team Games Found</p>
       
        <% end %>

        <% if @alternatesWindow || @user.team == "1" || @user.team == "2" %>
          <table class="attendanceSelection">
            <tr>
              <% if !@gameFullGreen %>
              <td><%= link_to 'Going',  attend_path(user: @user, game_id: @gameGreen.id, attendance_type: 'Going'), method: :post, class: "btn btn-success attendence_button" %></td>
              <% else %>
                <td>Game Roster Currently Full</td>
              <% end %>
              <td><%= link_to 'Maybe',  attend_path(user: @user, game_id: @gameGreen.id, attendance_type: 'Maybe'), method: :post, class: "btn btn-warning attendence_button" %></td>
              <td><%= link_to 'Not Going',  attend_path(user: @user, game_id: @gameGreen.id, attendance_type: 'Not Going'), method: :post, class: "btn btn-danger attendence_button" %></td>
            </tr>
          </table>
        <% else %>
          <% if !@alternatesDate.nil? %>
            <p style="font-size: 18pt"> I can Reserve a spot starting: 
            <%= @alternatesDate.strftime("%a, %d %b %Y") %>
            </p>
          <% end %>
        <% end %>



</div>