<li>
  <% if @currentgame.id == game.id %>
  	<%= link_to game.date.strftime("%a, %d %b %Y"), current_user %>&nbsp;&nbsp;&nbsp;
  <% else %>
    <%= game.date.strftime("%a, %d %b %Y") %>&nbsp;&nbsp;&nbsp;
  <% end %>
  <%= game.time.strftime("%I:%M %p") %>&nbsp;&nbsp;  
  <% @teamname = Team.find(game.forteam).name  %> 
  <% if @teamname == "Yellow" %>
  	<span style="color: yellow; background-color: grey; padding: 5px;font-size: 15pt;">Yellow Team</span>
  <% else %>
  	<span style="color: green;padding: 5px;font-size: 15pt;">Green Team</span>
  <% end %>&nbsp;&nbsp; 
  <%= Homeaway.find(game.homeaway).info %>&nbsp;&nbsp;   
  <%= game.comments %>&nbsp;&nbsp;   
  <% if current_user.admin? %>
    | <%= link_to "delete", game, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>